{
  // "extends": ["@readme/eslint-config", "@readme/eslint-config/react"],
  "parser": "@babel/eslint-parser",
  "root": true,
  "env": {
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
